//========COLORS========//
$main-text-color:#252B42;
$dark-text-color:#737373;
$light-text-color:#FFFFFF;

$primary-color:#FF7B47;
$secondary-color:#0D5C63;

$white-bgd-color:#FFFFFF;
$light-bgd-color:#FAFAFA;
$dark-bgd-color:#252B42;
$extra-dark-bgd-color:#17213C;
