@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap);
@import "_nullstyle.scss";
@import "_variables.scss";

body {
   font-family: Montserrat, sans-serif;
   font-size: 0.875rem;
   font-weight: 500;
   color: $main-text-color;
   background-color: $light-bgd-color;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
[class*="__container"] {
   max-width: 67.5rem;
   margin: 0 auto;
   padding: 0 0.9375rem;
   @media (max-width: 74.9988rem) {
      max-width: 60.625rem;
   }
   @media (max-width: 61.9988rem) {
      max-width: 46.875rem;
   }
   @media (max-width: 47.9988rem) {
      max-width: none;
   }
}

//===========HEADER============//
.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 3;
   padding-top: 2.25rem;

   &__container {
      display: flex;
      align-items: center;
      column-gap: 13%;
      row-gap: 1.875rem;
      @media (max-width: 30rem) {
         flex-direction: column;
      }
   }
   &__logo {
      color: inherit;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 133.333333%; /* 32px/24 */
      letter-spacing: 0.0063rem;
   }
}
.menu {
   &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1.3125rem;
      @media (max-width: 30rem) {
         flex-direction: column;
      }
   }
   &__link {
      font-weight: 600;
      line-height: 171.428571%; /* 24px/14 */
      letter-spacing: 0.0125rem;
      color: $dark-text-color;
      transition: all 0.3s ease 0s;
      &:hover {
         cursor: pointer;
         text-decoration: underline;
      }
      @media (max-width: 30rem) {
         font-size: 1.125rem;
      }
   }
}

//================PAGES=============//
.page {
   flex: 1 1 auto;
}
.page {
   &__services {
      position: relative;
      z-index: 3;
      margin-top: -6.875rem;
   }
}
.page {
   &__clients {
      &:not(:last-child) {
         margin-bottom: 1.25rem;
      }
   }
}

//=============HEADER-BLOCK===========//
.header-block {
   text-align: center;
   &__title {
      font-size: 2.5rem;
      @media (max-width: 62rem) {
         font-size: 2.25rem;
      }
      @media (max-width: 48rem) {
         font-size: 1.875rem;
      }
      font-weight: 700;
      line-height: 142.5%; /* 57px/40 */
      letter-spacing: 0.0125rem;
      &:not(:last-child) {
         margin-bottom: 0.625rem;
      }
   }
   &__subtitle {
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 142.857143%; /* 20px/14 */
      letter-spacing: 0.0125rem;
      color: $dark-text-color;
   }
}

//=============MAIN-BLOCK============//
.main-block {
   position: relative;
   &__body {
      position: relative;
      z-index: 2;
      max-width: 25rem;
      padding: 11.5rem 0 11.9375rem;
      @media (max-width: 30rem) {
         padding: 18.75rem 0 11.9375rem;
      }
      > *:not(:last-child) {
         margin-bottom: 2.1875rem;
      }
   }
   &__title {
      font-weight: 800;
      font-size: 3.625rem;
      line-height: 137.931034%; /* 80px/58 */
      letter-spacing: 0.0125rem;
      @media (max-width: 30rem) {
         font-size: 2.375rem;
      }
   }
   &__text {
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 150%; /* 30px/20 */
      letter-spacing: 0.0125rem;
      color: $dark-text-color;
   }
   &__buttons {
      display: inline-flex;
      gap: 0.625rem;
      @media (max-width: 30rem) {
         flex-direction: column;
         width: 100%;
      }
   }
   &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 3rem;
      font-size: 0.875rem;
      line-height: 200%; /* 28px/14 */
      font-weight: 700;
      letter-spacing: 0.0125rem;
      padding: 0.625rem 2.25rem;
      border-radius: 2.3125rem;
      &_orange {
         background-color: $primary-color;
         color: $light-text-color;
         transition: all 0.3s ease 0s;
         &:hover {
            color: $secondary-color;
         }
      }
      &_border {
         border: 1px solid $secondary-color;
         color: $secondary-color;
         transition: all 0.3s ease 0s;
         &:hover {
            background-color: $primary-color;
            color: $light-text-color;
         }
      }
   }
   &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      &_ibg {
         img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
            @media (max-width: 62rem) {
               object-position: right;
               opacity: 0.5;
            }
         }
      }
   }
}

//================SERVICES==========//
.services {
   &__body {
      @media (min-width: 41.875rem) {
         display: flex;
         flex-wrap: wrap;
         margin: 0 -0.9375rem -1.875rem;
      }
   }
   &__column {
      flex: 0 1 33.3%;
      margin-bottom: 1.875rem;
      @media (min-width: 41.875rem) {
         padding: 0 0.9375rem;
      }
      @media (max-width: 62rem) {
         flex: 0 1 50%;
         &:last-child {
            flex: 1 1 100%;
         }
      }
   }
   &__item {
      height: 100%;
      padding: 2.1875rem 2.5rem;
      @media (max-width: 30rem) {
         padding: 1.5625rem;
      }
      background-color: #fff;
      box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
   }
}
.item-services {
   &__icon {
      width: 3rem;
      height: 3rem;
      margin-bottom: 0.625rem;
      img {
         width: 100%;
      }
   }
   &__title {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 133.333333%; /* 32px/24 */
      letter-spacing: 0.0063rem;
      margin-bottom: 0.625rem;
   }
   &__text {
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 142.857143%; /* 20px/14 */
      letter-spacing: 0.0125rem;
      color: $dark-text-color;
      margin-bottom: 0.625rem;
   }
   &_green {
      background-color: $secondary-color;
      color: $light-text-color;
      p {
         color: $light-text-color;
      }
   }
}

//===============DESIGNING===============//
.designing {
   padding: 5rem 0;
   @media (max-width: 62rem) {
      padding: 3.125rem 0;
   }
   @media (max-width: 48rem) {
      padding: 1.875rem 0;
   }
   &__header {
      margin-bottom: 3.125rem;
      @media (max-width: 48rem) {
         margin-bottom: 1.5625rem;
      }
   }
   &__body {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -0.9375rem -1.875rem;
   }
   &__column {
      padding: 0 0.9375rem;
      margin-bottom: 1.875rem;
      flex: 0 1 25%;
      @media (max-width: 75rem) {
         flex: 0 1 50%;
      }
      @media (max-width: 32.5rem) {
         flex: 0 1 100%;
      }
   }
   &__item {
      height: 100%;
      background-color: $white-bgd-color;
      padding: 1.875rem;
      text-align: center;
      > *:not(:last-child) {
         margin-bottom: 0.625rem;
      }
   }
   &__icon {
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__value {
      font-size: 2.5rem;
      line-height: 142.5%; /* 57px/40 */
      font-weight: 700;
      letter-spacing: 0.0125rem;
   }
   &__text {
      font-size: 1rem;
      line-height: 150%; /* 24px/16 */
      font-weight: 700;
      letter-spacing: 0.0063rem;
   }
}

//=====================PRACTICE===============//
.practice {
   padding: 7.8125rem 0 5rem;
   @media (max-width: 62rem) {
      padding: 3.125rem 0;
   }
   @media (max-width: 48rem) {
      padding: 1.875rem 0;
   }
   &__header {
      margin-bottom: 2.8125rem;
   }
   &__body {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1.25rem -2.5rem;
   }
   &__column {
      padding: 0 1.25rem;
      margin-bottom: 2.5rem;
      flex: 0 1 25%;
      @media (max-width: 75rem) {
         flex: 0 1 50%;
      }
      @media (max-width: 32.5rem) {
         flex: 0 1 100%;
      }
   }
}
.item-practice {
   background-color: $white-bgd-color;
   display: flex;
   flex-direction: column;
   height: 100%;
   &__content {
      flex: 1 1 auto;
      padding: 1.875rem;
   }
   &__link {
      display: inline-block;
      color: inherit;
      margin-bottom: 0.9375rem;
      &:hover {
         text-decoration: underline;
         cursor: pointer;
      }
   }
   &__title {
      font-size: 1rem;
      line-height: 150%; /* 24px/16 */
      font-weight: 700;
      letter-spacing: 0.0063rem;
   }
   &__text {
      font-weight: 500;
      line-height: 142.857143%; /* 20px/14 */
      letter-spacing: 0.0125rem;
      color: $dark-text-color;
   }
   &__image {
      padding-bottom: 60%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      transition: all 0.3s ease 0s;
      &:hover {
         transform: scale(1.1);
      }
      img {
         display: block;
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
      }
   }
}

//=================WHO===============//
.who {
   background-color: $white-bgd-color;
   padding: 6.25rem 0 8.125rem;
   @media (max-width: 62rem) {
      padding: 3.125rem 0;
   }
   @media (max-width: 48rem) {
      padding: 1.875rem 0;
   }
   &__header {
      margin-bottom: 6.25rem;
      @media (max-width: 62rem) {
         margin-bottom: 3.125rem;
         @media (max-width: 30rem) {
            margin-bottom: 1.25rem;
         }
      }
   }
   &__body {
      display: flex;
      align-items: flex-start;
      @media (max-width: 62rem) {
         align-items: stretch;
         flex-direction: column;
      }
   }
   &__video {
      flex: 0 0 58%;
      position: relative;
      padding-bottom: 42.1%;
      @media (max-width: 62rem) {
         padding-bottom: 56.25%;
         margin-bottom: 2.1875rem;
      }
      @media (max-width: 30rem) {
         margin-bottom: 0;
      }
      iframe {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }
   &__content {
      flex: 1 1 auto;
      padding-left: 7.5625rem;
      @media (max-width: 62rem) {
         padding-left: 0;
      }
   }
}

.content-who {
   &__header {
      padding: 1.25rem 0;
      text-align: left;
      margin-bottom: 1.875rem;
      @media (max-width: 30rem) {
         margin-bottom: 0;
      }
   }
}
.item-who {
   display: flex;
   &:not(:last-child) {
      margin-bottom: 1.875rem;
   }
   &__icon {
      flex: 0 0 2rem;
   }
   &__body {
      flex: 1 1 auto;
      padding-left: 1.25rem;
   }
   &__title {
      font-size: 1rem;
      line-height: 150%; /* 24px/16 */
      font-weight: 700;
      letter-spacing: 0.0063rem;
      &:not(:last-child) {
         margin-bottom: 0.3125rem;
      }
   }
   &__text {
      font-weight: 600;
      line-height: 171.428571%; /* 24px/14 */
      letter-spacing: 0.0125rem;
      white-space: nowrap;
      max-width: 14.0625rem;
      overflow: hidden;
      cursor: pointer;
      text-overflow: ellipsis;
   }
}

//===============CLIENTS==============//
.clients {
   padding: 3.125rem 0;
   @media (max-width: 30rem) {
      padding: 0;
   }
   &__list {
      padding: 0 1.5625rem;
      @media (max-width: 30rem) {
         padding: 0;
      }
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
   }
   &__item {
      padding: 0.5rem 0.9375rem;
      flex: 0 1 16.6667%;
      @media (max-width: 62rem) {
         flex: 0 1 33.333%;
      }
      @media (max-width: 48rem) {
         flex: 0 1 50%;
      }
      text-align: center;
      min-width: 8.75rem;
      img {
         max-width: 100%;
      }
   }
}

//==============SUBSCRIBE============//
.subscribe {
   position: relative;
   padding-bottom: 1.25rem;
   &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4.8125rem;
      left: 0;
      bottom: 0;
      background-color: $dark-bgd-color;
   }
   &__body {
      position: relative;
      z-index: 2;
      padding: 1.875rem 3.125rem;
      background-color: $extra-dark-bgd-color;
      align-items: center;
      border-radius: 0.125rem;
      @media (min-width: 62rem) {
         margin: 0 2rem;
      }
      @media (min-width: 48rem) {
         display: flex;
      }
      @media (max-width: 48rem) {
         margin: 0 -0.9375rem;
      }
   }
   &__title {
      flex: 0 1 50%;
      font-size: 1.5rem;
      line-height: 133.333333%; /* 32px/24 */
      font-weight: 700;
      letter-spacing: 0.0063rem;
      color: $light-text-color;
      @media (max-width: 48rem) {
         margin-bottom: 1.25rem;
      }
   }
   &__form {
      flex: 0 1 50%;
      display: flex;
      align-items: center;
   }
   &__input {
      flex: 1 1 auto;
      width: 100%;
      border-radius: 0.3125rem 0 0 0.3125rem;
      background: #f9f9f9;
      min-height: 3.625rem;
      padding-left: 1.25rem;
      font-size: 0.875rem;
      line-height: 200%; /* 28px/14 */
      font-weight: 400;
      letter-spacing: 0.0125rem;
      color: $dark-text-color;
      &focus {
         color: $dark-text-color;
      }
   }
   &__button {
      min-height: 3.625rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 0px 5px 5px 0px;
      border: 1px solid #e6e6e6;
      padding: 0.9375rem 1.4063rem;
      background-color: $primary-color;
      color: $light-text-color;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: #bb5b35;
      }
   }
}

//==============GET==========//
.get {
   padding: 5rem 0 9.25rem;
   @media (max-width: 30rem) {
      padding: 3.125rem 0;
   }
   &__header {
      margin-bottom: 5rem;
      @media (max-width: 30rem) {
         margin-bottom: 2.5rem;
      }
   }
   &__body {
      @media (min-width: 62rem) {
         padding: 0 2rem;
      }
   }
   &__list {
      margin: 0 -0.9375rem;
      @media (min-width: 62rem) {
         display: flex;
         align-items: center;
      }
      .active {
         background-color: $dark-bgd-color;
         color: $light-text-color;
         padding: 5rem 2.5rem;
         .item-get__button {
            border: 1px solid $light-text-color;
            color: $light-text-color;
            transition: all 0.3s ease 0s;
            &:hover {
               color: $secondary-color;
               background-color: $white-bgd-color;
            }
         }
      }
   }
   &__item {
      flex: 0 1 33.33%;
   }
}
.item-get {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: $white-bgd-color;
   padding: 3.125rem 2.5rem;
   > *:not(:last-child) {
      margin-bottom: 0.9375rem;
   }

   &__icon {
      img {
         max-width: 100%;
      }
   }
   &__emails {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   &__email {
      color: inherit;
      font-weight: 600;
      line-height: 171.428571%; /* 24px/14 */
      letter-spacing: 0.0125rem;
      &:hover {
         text-decoration: underline;
      }
   }
   &__text {
      font-size: 1rem;
      font-weight: 700;
      line-height: 150%; /* 24px/16 */
      letter-spacing: 0.0063rem;
      text-align: center;
   }
   &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      min-height: 2.75rem;
      text-align: center;
      padding: 0.625rem 1.25rem;
      border-radius: 5px;
      border: 1px solid $primary-color;
      color: $primary-color;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 171.428571%; /* 24px/14 */
      letter-spacing: 0.0125rem;
      transition: all 0.3s ease 0s;
      &:hover {
         color: $light-text-color;
         background-color: $primary-color;
      }
   }
}

//=============CONTACT============//
.contact {
   background-color: $white-bgd-color;
   padding: 2.5rem 0;
   @media (max-width: 48rem) {
      padding: 1.25rem;
   }
   &__body {
      display: flex;
      @media (max-width: 48rem) {
         flex-direction: column;
         gap: 1.25rem;
         text-align: center;
      }
      align-items: center;
      justify-content: space-between;
   }
   &__title {
      font-size: 1.5rem;
      line-height: 133.333333%; /* 32px/24 */
      font-weight: 700;
      letter-spacing: 0.0063rem;
      &:not(:last-child) {
         margin-bottom: 0.625rem;
      }
   }
   &__text {
      font-weight: 500;
      line-height: 142.857143%; /* 20px/14 */
      letter-spacing: 0.0125rem;
      color: $dark-text-color;
   }
   &__button {
      margin-right: 2.5rem;
      @media (max-width: 48rem) {
         margin: 0;
      }
      @media (max-width: 30rem) {
         width: 100%;
         font-size: 1.25rem;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      min-height: 3.625rem;
      text-align: center;
      padding: 0.3125rem 2.5rem;
      border-radius: 5px;
      background-color: $primary-color;
      color: $light-text-color;
      font-weight: 700;
      line-height: 200%; /* 28px/14 */
      letter-spacing: 0.0125rem;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: #bb5b35;
      }
   }
}

//=================FOOTER=============//
.footer {
   &__top {
      padding: 2.1875rem 0;
      background-color: $extra-dark-bgd-color;
   }
}
.top-footer {
   &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -0.9375rem;
   }
   &__column {
      padding: 0.9375rem 0.9375rem;
      flex: 0 1 16.66%;
      &:last-child {
         flex: 0 1 33.333%;
      }
      @media (max-width: 75rem) {
         flex: 0 1 25%;
         &:last-child {
            flex: 0 1 100%;
         }
      }
      @media (max-width: 48rem) {
         flex: 0 1 50%;
         &:last-child {
            flex: 0 1 100%;
         }
      }
      @media (max-width: 30rem) {
         min-width: 100%;
         &:not(:last-child) {
            text-align: center;
         }
      }
   }
   &__label {
      font-size: 1rem;
      line-height: 150%; /* 24px/16 */
      font-weight: 700;
      letter-spacing: 0.0063rem;
      color: $light-text-color;
      &:not(:last-child) {
         margin-bottom: 1.25rem;
      }
   }
}
.menu-footer {
   &__item {
      &:not(:last-child) {
         margin-bottom: 0.625rem;
      }
   }
   &__link {
      font-weight: 600;
      line-height: 171.428571%; /* 24px/14 */
      letter-spacing: 0.0125rem;
      color: $light-text-color;
      &:hover {
         text-decoration: underline;
      }
   }
}
.contacts-footer {
   display: flex;
   flex-direction: column;

   &__item {
      min-height: 1.875rem;
      font-weight: 600;
      line-height: 171.428571%; /* 24px/14 */
      letter-spacing: 0.0125rem;
      padding-left: 2.125rem;
      color: $light-text-color;
      &:not(:last-child) {
         margin-bottom: 0.625rem;
      }
      &:hover {
         text-decoration: underline;
      }
      &_phone {
         background: url("/img/footer/phone.svg") left no-repeat;
      }
      &_map {
         background: url("/img/footer/map.svg") left no-repeat;
         white-space: nowrap;
         max-width: 12.8125rem;
         overflow: hidden;
         cursor: pointer;
         text-overflow: ellipsis;
      }
      &_email {
         background: url("/img/footer/send.svg") left no-repeat;
      }
   }
}
.bottom-footer {
   &__body {
      padding: 1.5625rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 48rem) {
         flex-direction: column;
      }
   }
   &__copy {
      font-weight: 600;
      line-height: 171.428571%; /* 24px/14 */
      letter-spacing: 0.0125rem;
      color: $dark-text-color;
      @media (max-width: 48rem) {
         margin-bottom: 1.25rem;
      }
      @media (max-width: 30rem) {
         text-align: center;
      }
   }
}
.socials {
   display: flex;
   align-items: center;
   &__link {
      &:not(:last-child) {
         margin-right: 1.25rem;
      }
      img {
         vertical-align: middle;
         max-width: 100%;
      }
   }
}
